# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
dist/
build/

# Virtualenv
venv/
.venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
local_settings.py

# Env / secrets
.env

# IDE / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
